.App {
  text-align: center;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}
.toprow{
  display:flex;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
i.arrow.down.icon{
  margin:0 !important;
}
.App-link {
  color: #61dafb;
}
.image{
  width:50%;
}

.header{
  background-color: #0b3d91 !important;
}

div#root{
  background: url('/images/space.jpg');
}

.main{
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#select_id{

  margin: 10px auto;
}


.footer{
  margin: 20px auto;
}